*{
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    width: 80%;
    height: 500px;
    border: 1px solid black;
}

.item1,
.item2,
.item3{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.item1{
    background-color: red;
    width: 150px;
    height: 150px;
}

.item2{
    background-color: green;
    width: 150px;
    height: 150px;
}

.item3{
    background-color: yellow;
    width: 150px;
    height: 150px;
}